{% extends "base.html"%}

{% block content %}
    <div>
        <h1>{{ _('Account details') }}</h1>
    </div>
    <div class="content-section">
        <div class="media">
            <img class="rounded-circle account-img" src="{{ image_file }}">
                <div class="media-body">
                    <h2 class="account-heading">{{ current_user.username }}</h2>
                    <a class="btn btn-secondary btn-small" href="{{ url_for('auth.user_update') }}"> {{ _('Edit') }}</a>
                    <p class="text-secondary">Email: {{ current_user.email }}</p>
                </div>
        </div>
        <div>
                {% if user.about_me %}
                <p>{{user.about_me}}</p>
                {% endif %}
                {% if user.last_seen %}
                <p>{{ _('Last seen on') }} : {{ moment(user.last_seen).format('LLL', refresh=True) }}</p>
                {% endif %}
            <a class="btn btn-outline-info" href="{{ url_for('auth.user_posts', username=current_user.username) }}"> {{ _('See posts') }} </a>
        </div>
    </div>
    <div class="content-section">
        <div>
            <a class="btn btn-warning btn-small" href="{{ url_for('auth.user_delete') }}"> {{ _('Delete Account') }}</a>
        </div>
    </div>
{% endblock content%}

{% block sidebar %}
    {% include 'main/_search.html' %}
{% endblock %}
