{% extends "base.html"%}

{% block content %}
    <h1 class="mb-3">{{ _('User') }}: {{ user.username }} ({{ posts.total}})</h1>

    <table>
        <tr valign="top">
            <td>
                <img class="rounded-circle account-img" src="{{ image_file }}">
            </td>
        </tr>

    </table>
    <hr>
        {% include 'posts/post_list.html' %}

    {% for page_num in posts.iter_pages(left_edge=1, right_edge=1) %}
        {% if page_num %}
            {% if posts.page == page_num %}
                <a class="btn btn-info mb-4" href="{{ url_for('auth.user_posts', username=user.username, page=page_num) }}">{{ page_num }}</a>
            {% else %}
                <a class="btn btn-outline-info mb-4" href="{{ url_for('auth.user_posts', username=user.username, page=page_num) }}">{{ page_num }}</a>
            {% endif %}
        {% else %}
            ...
        {% endif %}
    {% endfor %}

{% endblock content%}

{% block sidebar %}
    {% include 'main/_search.html' %}
{% endblock %}
