{% extends "base.html" %}
{% block content %}
<h1> {{ _('Welcome') }}
    {% if current_user.is_anonymous %}
    {{ _('guest!') }}
    {% else %}
    {{ current_user.username}}
    {% endif %}
</h1>
        {% include 'posts/post_list.html' %}

    {% for page_num in posts.iter_pages(left_edge=1, right_edge=1) %}
        {% if page_num %}
            {% if posts.page == page_num %}
                <a class="btn btn-info mb-4" href="{{ url_for('main.home', page=page_num) }}">{{ page_num }}</a>
            {% else %}
                <a class="btn btn-outline-info mb-4" href="{{ url_for('main.home', page=page_num) }}">{{ page_num }}</a>
            {% endif %}
        {% else %}
            ...
        {% endif %}
    {% endfor %}

{% endblock content %}

{% block sidebar %}
{% endblock %}