{% block content %}
    <article class="media content-section">
        <img src="{{ url_for('static', filename='profile_pics/'+ post.author.image_file) }}" alt="" class="rounded-circle article-img">
        <div class="media-body">
            <div class="article-metadata">
                <a href="{{ url_for('auth.user_posts', username=post.author.username) }}" class="mr-2">{{ post.user_id.username }}</a>
                <small class="text-muted">{{ moment(post.date_posted).fromNow() }}</small>
            </div>
            <h2>
                <a id="title{{ post.id }}" href="{{url_for('posts.post_view', post_id=post.id) }}" class="article-title">{{ post.title }}</a>
            </h2>
            <br>
                <span id="content{{ post.id }}">{{ post.content }}</span>
        </div>
    </article>
{% endblock content%}