{% extends "base.html" %}

{% block sidebar %}
    <form class="form-inline" method="get" role="form" action="">
        <div class="input-group">
            <input class="form-control input-xs" name="q"
            placeholder="Search..." value="{{ request.args.get('q', '') }}"/>
            <span class="input-groyp-btn">
                <button class="btn btn-default" type="submit">Go!</button>
            </span>
        </div>

    </form>
{% endblock %}

{% block content %}
    {% include 'list.html' %}
{% endblock %}