{% extends 'base.html' %}

{% block title %} Create new post {% endblock %}

{% block content %}
<form action="" class="form formhorizontal" method="post">
    {{ form.hidden_tag() }}
    {% for field in form %}
        {% if field.widget.input_type != 'hidden' %}
            <div class="form-group">
            {{ field.label(class='col-sm-3 control-label') }}
                <div class="col-sm-9">
                {{ field(class='form-control') }}
                    {% if field.description %} <span class="help-block">{{ field.description|safe }}</span>
                    {% endif %}
                    {% for error in field.errors %} <span class="help-block">{{ error }}</span>
                    {% endfor %}
            </div>
        </div>
        {% endif %}
    {% endfor %}
    <div class="form-group">
        <div class="col-sm-offset-3 col-sm-9">
            <button type="submit" class="btn btn-primary">Done</button>
            <a class="btn btn-warning" href="{{ url_for('main.home')
}}"> Cancel</a>
        </div>
    </div>
</form>
{% endblock content %}