<p>Dear {{ user.username }}</p>
<p>
    {{ _('To reset your password') }}
    <a href="{{ url_for('auth.reset_password', token=token, _eternal=True) }}">{{ _(Click here!) }} </a>
</p>
<p>
    {{ _('Alternatively, you can paster the following link in your browser\'s address bar') }}:
</p>
<p>
    {{ url_for('auth.reset_password', token=token, _external=True) }}
</p>
<p>
    {{ _('If you have not requests a password reset simply ignore this message') }}
</p>
<p>
    {{ _('Sincerly, Blog Crew!') }}
</p>