{% extends "base.html" %}
{% block content %}
<h1>Welcome
    {% if current_user.is_anonymous %}
    guest!
    {% else %}
    {{ current_user.username}}
    {% endif %}
</h1>
    {% for post in posts.items %}
        {% include '_post.html' %}
    {% endfor %}

    {% for page_num in posts.iter_pages(left_edge=1, right_edge=1) %}
        {% if page_num %}
            {% if posts.page == page_num %}
                <a class="btn btn-info mb-4" href="{{ url_for('home', page=page_num) }}">{{ page_num }}</a>
            {% else %}
                <a class="btn btn-outline-info mb-4" href="{{ url_for('home', page=page_num) }}">{{ page_num }}</a>
            {% endif %}
        {% else %}
            ...
        {% endif %}
    {% endfor %}

{% endblock content %}